* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    background-image: url('https://i.postimg.cc/qR15mW2Z/Whats-App-Image-2023-02-01-at-10-30-29-AM.jpg');
  }