* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    background-image: url('https://i.postimg.cc/8cDwsRfh/Whats-App-Image-2023-02-01-at-2-24-26-PM.jpg');
  }